NODE_ENV=your_working_environment_here

PORT=your_comfortable_port_here

REDIS_HOST=localhost
REDIS_PORT=6379

RATE_LIMIT_WINDOW_MS=your_limit_window_in_milliseconds_here
RATE_LIMIT_MAX_REQUESTS=your_limit_max_requests_here